body
{
	display:			block;
	font-family:		-apple-system, BlinkMacSystemFont, Roboto, sans-serif;
	font-size:			var(--font-size);
	color:				var(--tg-theme-text-color);
	background:			var(--tg-theme-bg-color);
}
/*	Данные */
div.tab-content
{
	margin-top:			50px;
}
/*
	flex container
*/
div.flex-box
{
	display:			flex;
	flex-direction:		row;
	align-items:		stretch;
	text-align:			left; 
	justify-content:	start;
	column-gap:			5px;
	margin-bottom:		1rem;
}
.item-checkbox
{
	display:			none;
}
div.item-order
{
	display:			block;
	font-size:			1rem;
	padding:			0.5rem;
	width:				2rem;
	text-align:			right;
}
div.item-content
{
	display:			block;
	margin-right:		auto;
	width:				100%;
}
div.item-input
{
	padding:			0rem;
}
details
{
	color:				var(--tg-theme-text-color);
	border:				1px solid var(--tg-theme-section-separator-color, #aaaaaa);
	border-radius:		8px;
	overflow:			hidden;
	padding:			0.5rem 0.5rem 0;
}
summary
{
	font-size:			var(--font-size);
	color:				var(--tg-theme-text-color);
	margin:				-0.5rem -0.5rem 0px;
	padding:			0.5rem;
}
details:open
{
	color:				var(--tg-theme-hint-color);
}
details:open > summary
{
	color:				var(--tg-theme-text-color);
	background-color:	var(--tg-theme-secondary-bg-color);
	border-bottom:		1px solid #aaaaaa;
}
.item-label
{
	display:			block;
	font-size:			var(--font-size);
	color:				var(--tg-theme-text-color);
	border:				1px solid var(--tg-theme-link-color, black);
	border-radius:		50%;
	padding:			0.5rem;
	width:				2rex;
	height:				2rex;
	text-align:			center;
	line-height:		2rex;
	margin-left:		calc(3rem - 2rex);
}
/*
	Выделение выбора флажка
	https://developer.mozilla.org/ru/docs/Web/CSS/::after
*/
.item-checkbox:checked ~ .item-input .item-label
{
	color:				var(--tg-theme-button-text-color, yellow);
	background-color:	var(--tg-theme-button-color, green);
}
.item-checkbox:checked ~ .item-input .item-label::after
{
	content: "\2714";
}
/*
	https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/input/number
*/
input[type=number]
{
	display:			block;
	font-size:			calc(var(--font-size) + 4px);
	width:				3rem;
	padding:			0.5rem;
	border:				1px solid black;
	border-radius:		8px;
}
/*	Заголовок страницы */
div.header-fixed
{
	display:			flex;
	flex-direction:		row;
	align-items:		center;
	text-align:			left; 
	justify-content:	start;
	column-gap:			5px;
	
	0font-size:			1.25rem;
	font-weight:		bold;
	position:			fixed;
	top:				0;		/* Отступ от верхнего края */
	left:				0;		/* Отступ от правого края */
	width:				100%;
	height:				36px;
	0line-height:		36px;
	0z-index:			1000;	/* Убедиться, что кнопка поверх другого контента */
	color:				var(--tg-theme-button-text-color, yellow);
	background-color:	var(--tg-theme-button-color, green);
	padding:			4px 12px;
	cursor: 			pointer;
}
/*	Диалоговое окно */
dialog
{
	font-size:			var(--font-size);
	
	margin:				44px auto auto 0px;
	padding:			0px;	
	background-color:	hsl(0,0%,95%);

	0border:				none !important;
	border:				none;
	border-right:		1px solid var(--tg-theme-button-color, red);
	border-bottom:		1px solid var(--tg-theme-button-color, red);
	outline:			none;
	border-bottom-right-radius:		1rex;
	box-shadow:			0 0 25px rgba(0,0,0,0.5);

	max-width:			100% !important;
	0width:				fit-content;
	0width:				100%;
	overflow:			hidden; /* обрезка */
}
/*	Фон модального окна */
dialog::backdrop
{
	background-color:	hsl(0,0%,90%);
	opacity:			0.75;
}
div.menu
{
	display:			flex;
	flex-direction:		column;
	0align-items:		start;
	text-align:			left; 
	justify-content:	start;
	column-gap:			1rex;
	
	margin:				0px;
	padding:			0px;
}
div.menu > label
{
	display:			flex;
	flex-direction:		row;
	align-items:		center;
	justify-content:	start;

	padding:			1rex;
	0margin:			4px 0px 4px 0px;
	margin:				0px;
	border-top:			1px solid var(--tg-theme-section-separator-color, #aaaaaa);
	0border-radius:		8px;

	max-width:				100%;
}
div.menu > label > span, .title-icon
{
	font-size:			1.75rem;
	font-family:		"Material Symbols Outlined";
	font-weight:		normal;
	padding-right:		1rex;
}
/*	Текст заголовка страницы */
div.title-text
{
	overflow:			hidden;
	white-space:		nowrap;
	text-overflow:		ellipsis;
}
