/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	Шрифт GOOGLE
	https://github.com/google/material-design-icons/tree/master/variablefont

	Самостоятельное размещение шрифта
	https://developers.google.com/fonts/docs/material_symbols?hl=ru#self-hosting_the_font
	
	Подключение css шрифтов локально
	https://ru.stackoverflow.com/questions/1085075/Подключение-css-шрифтов-локально

	#
	# Apache Web Server configure file "httpd.conf"
	#
	<Directory "${SRVROOT}/fonts">
		AllowOverride None
		Options None
		Require all granted
	</Directory>
	
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*	CSS-переменные */
:root
{
	--color-blue:							hsl(215,100%,50%);
	--font-family:							-apple-system, BlinkMacSystemFont, "Ubuntu", sans-serif;
	--font-size:							14px;
	--navigation-background-color: 			hsl(0,0%,95%);
	--navigation-background-color-hover:	hsl(0,0%,90%);
	--navigation-border-color: 				hsl(0,0%,75%);
	--navigation-border:					1px solid var(--navigation-border-color);
}
body
{
/*	overflow: scroll;  Show scrollbars */
	background:		var(--tg-theme-bg-color, #ffffff);
	color:			var(--tg-theme-text-color, #000000);
	font-family:	-apple-system, BlinkMacSystemFont, "Ubuntu", sans-serif;
	
	overflow: scroll;
	padding: 0px;
	0margin: 0px;
	0margin: 0% 15% 0% 15%;
	font-size:		var(--font-size);
	font-family:	var(--font-family);
	line-height:	1.5;
/*	width: 100%;*/
}
/*###########################################################

	Главная область

###########################################################*/
#page
{
	/*	сетка */
	display:			grid;
	grid-gap:			1rex;
	overflow:			auto;
	justify-content:	flex-start;

	/*	https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template */
	grid-template-rows:		auto 1fr;
	grid-template-columns:	auto 1fr;

	/*	положение на странице */
	0position:	fixed;
	0top:		0px;
	0overflow:	visible; /* visible | hidden | clip | scroll | auto */

	/*	ширина */
	width:		auto;

	/*	отступы */
	0padding:	1ex;
	padding:	0px;
	margin:		0px;

	font-size:			var(--font-size);
	font-family:		var(--font-family);
	line-height:		1;

	/*	цвета */
	color:				#000;
	background-color:	hsl(0,0%,95%);
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	Группа кнопок

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.menu-group
{
	display: 		flex;
	grid-column:	1/2;
	flex-direction: column;
	
	padding:		0px;
	border-radius:	0px 1.5ex 1.5ex 0px;
	0border:		1px solid hsl(0,0%,60%);
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	Кнопки с иконками

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.item
{
	display:			flex;
	align-items:		center;
	
	font-family:		inherit;
	font-size:			inherit;
	line-height:		inherit;

	margin-right:		1rex;
	padding:			0px 1.5rem;
	height:				3em;
	
	border:				none;
	border-radius:		0px 1.5rem 1.5rem 0px;

	color: 				#000;	
	text-decoration:	none;
	cursor:				pointer;
}
/*	значки на кнопках */
.item > span
{
	font-family:	"Material Symbols Outlined";
	font-size:		32px;
	font-weight:	normal;
	padding-right:	1rem;
}
/*	перемещение курсора мыши */
.item:hover
{
	background-color: hsl(0,0%,90%);
}
.tab-content > p, .tab-content > ol
{
	font-family:		var(--font-family);
	font-size:			18px;
	line-height:		1.5;
	margin:				0px;
	padding:			0px;
}
.tab-content > li
{
	margin-bottom:		1rem;
	color: red;
}
.tab-content > div.part, .tab-content > div.year
{
	font-family:		inherit;
	font-size:			inherit;
	font-weight:		500;
	margin-top:			1rem;
	margin-bottom:		1rex;
	padding-top:		1rem;
}
.tab-content > div.part
{
	border-top:			solid gray 2px;
}
.tabular
{
	display: 			table;
	table-layout:		fixed;
	width:				100%;

	font-family:		var(--font-family);
	font-size:			18px;

	border-collapse:	collapse;
}
.tabular tr
{
	font-family:		inherit;
	font-size:			inherit;
}
.tabular td
{
	vertical-align:		text-top;
	text-align:			left;
	font-family:		inherit;
	font-size:			inherit;
	padding:			1rex 1rem 0pt 1rem;
	margin:				0px;
}
.tabular td:nth-child(1)
{  
	font-weight:		500;
	width:				20%;
	text-align:			right;
	text-wrap:			nowrap;
}